<a href="https://colab.research.google.com/github/dohyeonkim2526/MyData-Contest/blob/master/My_Data(0903).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import os
import pandas as pd
import numpy as np

dt_dir='/content/gdrive/My Drive' 
dt_name='데이터.xlsx'
dt_dir=os.path.join(dt_dir, dt_name) #희승의 'wb'

In [ ]:
#승이 기준

#from xlrd import oepn_workbook
#wb=open_workbook('데이터경로/data.xlsx')
#data=pd.read_excel(wb)

In [ ]:
data=pd.read_excel(dt_dir)
data #희승의 'data'

     주행 기록계 값  기록계 값 차이 (전일 기준) (km)  ...  데이터 기준 일자  데이터 기준 시간
0     57858.9                   40.0  ... 2020-08-31   23:50:00
1     57858.9                   40.0  ... 2020-09-01   00:00:00
2     57858.9                   40.0  ... 2020-09-01   00:10:00
3     57858.9                   40.0  ... 2020-09-01   00:20:00
4     57858.9                   40.0  ... 2020-09-01   00:30:00
..        ...                    ...  ...        ...        ...
141   57903.3                   40.0  ... 2020-09-01   23:20:00
142   57903.3                   40.0  ... 2020-09-01   23:30:00
143   57903.3                   40.0  ... 2020-09-01   23:40:00
144   57903.3                   40.0  ... 2020-09-01   23:50:00
145   57903.3                   44.4  ... 2020-09-02   00:00:00

[146 rows x 9 columns]

In [ ]:
accel_count=data[data['가속(150-200km/h)']==1]

In [ ]:
accel_count

    주행 기록계 값  기록계 값 차이 (전일 기준) (km)  ...  데이터 기준 일자  데이터 기준 시간
51   57869.0                   40.0  ... 2020-09-01   08:20:00
52   57874.3                   40.0  ... 2020-09-01   08:30:00
92   57888.2                   40.0  ... 2020-09-01   15:10:00
93   57892.4                   40.0  ... 2020-09-01   15:20:00
95   57903.3                   40.0  ... 2020-09-01   15:40:00

[5 rows x 9 columns]